* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    margin: 0;
  }

#styletitle {
    font-family: 'Abril Fatface', cursive, Arial, Helvetica, sans-serif;
    font-size: 8rem;
    color: steelblue;
    padding-right: 15px;
    margin-top: 0;
    align-self: center;
}

#img01 {
    width: 100%;
    margin: 0;
}

#welcome {
    text-align: center;

}

.txtend {
  margin: 20px 0;
  padding: 20px;
}

.tiles {
  border-radius: 3px;
  box-shadow: 0 10px 20px #0000002f;
  margin: 20px;
  height: 500px;
}

.coracao {
    position: absolute;
    right: 30px;
    top: 0; 
    width: 18%;
    fill: steelblue;
    opacity: 0.8;
}

.divider {
    width: 100px;

    fill: steelblue;
}

h2 {
  font-size: 1.5rem;
}


.intro {
  font-family: Quicksand, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.8rem;
  text-align: center;
  background-color: #ececec;
  margin: 0;
  padding: 20px 0;
}

.shop {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}


/* general styling do contador */

  
  #contador {
    align-items: center;
    background-color: #ececec;
    display: flex;
    font-family: Quicksand, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .contagem {
    color: #333;
    margin: 0 auto;
    text-align: center;
  }
  
  li {
    display: inline-block;
    font-size: 1.3em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  li span {
    display: block;
    font-size: 2rem;
  }

  
  
  
  @media all and (max-width: 768px) {
    h2 {
      font-size: 1.4rem;
      text-align: center;
    }
    
    li {
      font-size: 0.9rem;
      padding: .7rem;
    }
    
    li span {
      font-size: 1.8rem;
    }

    #styletitle {
      text-align: center;
      width: 100%;
      font-size: 7rem;
    }
    .intro {
      font-size: 1.3rem;
    }

    #countdown ul{
      display: flex;
    }
    #contador {
      flex-direction: column;
      padding: 10px 0;
      width: 100%;
    }
    .coracao {
      opacity: 0.2;
    }

  }